.add-button {
  background-color: #17a2b8 !important;
  color: white;
  text-decoration: none !important;
  border: 1px solid #17a2b8;
}

.add-button:hover {
  color: white;
  background-color: rgb(48, 48, 48) !important;
  border: 1px solid #17a2b8;
}
.recharts-legend-item-text {
  color: white;
}

.chart-card {
  background-color: rgb(27, 27, 27);
  box-shadow: 8px 25px 50px -15px rgba(0, 0, 0, 0.7);
  margin-top: 30px;
}
textarea,
.input-mess {
  background-color: rgb(27, 27, 27) !important;
  color: #17a2b8 !important;
}
.input-mess {
  padding: 25px 10px !important;
}

tbody button {
  border: none !important;
}

.author {
  background-color: rgb(27, 27, 27);
  color: white !important;
  text-decoration: none !important;
  border: none;
}

.card {
  background-color: rgb(27, 27, 27);
  color: white;
}

.card-header {
  background-color: #17a2b8;
}
