.pill a {
  color: #17a2b8 !important;
}
.pill .active {
  background-color: rgb(31, 31, 31) !important;
  color: white !important;
}
.pill a {
  text-decoration: none;
}
.pill a:hover {
  background-color: rgb(31, 31, 31);
  color: white;
}
